@using System.Globalization
@model double


<div class="text-center" id="single">
    <h5 id="loading" hidden>
        <i class="fa fa-spinner fa-pulse fa-3x fa-fw"></i>
    </h5>
    <h3>@Convert.ToString(Model, CultureInfo.CurrentCulture) </h3>
</div>