@{
    ViewBag.Title = "Home Page";
}

<div> &nbsp;</div>

<div class="jumbotron">
    <h1>Chaotic Random Generator Number</h1>
    <p class="lead">From Pseudo-Random generator number to real chaotic Random Generator. </p>
</div>

<div class="row">

    <div class="col-md-5">
        <h2>Logistic Map Theory</h2>
        <p class="text-justify">
            This WebApp uses a Pseudo-Random number generator using the .Net class called <a href="https://msdn.microsoft.com/en-us/library/system.random(v=vs.110).aspx">Random</a> introduced in .Net 4.5 as pesudo-random number generator that meets statistical requiremets for randomness (<a href="http://referencesource.microsoft.com/#mscorlib/system/random.cs,bb77e610694e64ca">Source Code</a>). Now using this generator and the <a href="https://en.wikipedia.org/wiki/Logistic_map">Logistic Map</a> equation using the parameter r=4 to be sure to be in the chaotic response and iterate the equation a thousand times
        </p>
    </div>
    <div class="col-md-1">
        &nbsp;
    </div>
    <div class="col-md-6">
        <h2>Chaotic Random Number Generator</h2>
        <p class="text-justify">
            This WebApp uses a Pseudo-Random number generator
        </p>
    </div>
</div>

<div class="row">
    <div class="col-md-5">
        <h2>Single Generator Number</h2>
        <p>
            @using (Ajax.BeginForm("GetSingle", "Home", new AjaxOptions
            {
                UpdateTargetId = "single",
                HttpMethod = "post",
                AllowCache = false,
                LoadingElementId = "loading",
                InsertionMode = InsertionMode.Replace
            }))
            {
                <div class="text-center">
                    <input type="submit" value="Generate" class="btn btn-primary" />
                </div>
            }

            <div id="single">
                <h5 id="loading">
                    @*//install font awesome
                        Install-Package FontAwesome*@
                    <i class="fa fa-spinner fa-pulse fa-3x fa-fw"></i>
                </h5>

            </div>

        </p>
    </div>
    <div class="col-md-1">
        &nbsp;
    </div>
        <div class="col-md-6">
            <h2> Web Api Json random numbers</h2>
            <a href="@Url.Action("ChaoticArray", "api")">
                <div class="text-center">
                    
                    <div class="btn btn btn-primary">Get JSON</div>
                </div>
            </a>


        </div>
    </div>

@section scripts{

    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>

}